body{
  font-family: 'Roboto', sans-serif;
}

.header {
  margin: 0;
  height: 100px;
  background-color: #008CBA;
  margin-bottom: 2%;
}

.header h1{
  padding: 0;
  margin: 20px;
  margin-left: 40px;
  font-size: 400%;
  display: inline-block;
  vertical-align: middle;

}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 5%;
  transition: all 0.5s;
}

.custom-file-upload:hover {
  background-color: grey;
}

.custom-file-upload span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.custom-file-upload span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.custom-file-upload:hover span {
  padding-right: 20px;
}

.custom-file-upload:hover span:after {
  opacity: 1;
  right: 0;
}

#left{
    float: left;
    width: 50%;
    margin-left: 2%;
}

#right{
    float: right;
    margin: 0;
    margin-right: 4%;
    width: 40%;
}

#code {
  font-size: 100%;
}

.io {
  margin: 0;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  float: left;
  margin: 0 5px;
  margin-left: 8%;
}

#output {
  float:left;
  margin: 0 10px;
  margin-right: 10%;
}


#graphs {
}
